*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-size: 14px; */
}


.header{
    width: 100%;
    height: 100vh;
    background-image: url(images/image.png);
    background-position: center;
    background-size: cover;
}
nav{
    width: 100%;
    padding: 0px !important;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #141414;

}

.logo{
    width: 450px;
    margin: 0px 0;
    cursor: pointer;    
    margin-left: auto;
    /* margin-bottom: auto; */
}
nav ul {
    /* background: #141414; */
    width: 100%;
    margin-top: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 10px;
    color: #fff;
}
/* underline hover effect */
nav ul li a{
    color: white !important;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;

}
nav ul li a:hover::after{
    width: 100%;
}

/* end ofunderline hover effect */



.navbar {
    position: relative;
    z-index: 999;
    border-bottom: 1px solid #323232;     
}
.navbar ul {
    width:100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    background: #000;    
    }

/* .navbar li {
    position: relative;
} */

/* .text{
    padding: 20px 8%;
} */

nav.sticky{
    position: fixed;    
    top: 0;
    left: 0;
    padding: 0px 0%;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding 1s;
}

nav.sticky ul{
    width: auto;
}

.nav-link{    
    color:#fff;   
    border-bottom: 2px solid transparent;
    /* padding: 0; */
    padding: 0px 8%;
   
}

.nav-link:hover{    
    color:#fff;
}
/* .nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px ; 
} */

.btn{
    margin-left: 10px;
    margin-bottom: 2px;

}

.carousel-item {
    height: 65vh;
    min-height: 876px;
    background: no-repeat center center scroll;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    
}

.section-bg {
    background-color: white;
}

.section-title {    
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.section-title h2 {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
}

.section-title span {
    font-family: 'Poppins Bold', sans-serif;
    position: absolute;
    top: 30px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .section-title span {
        font-size: 38px;
    }
}

/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2); 
}

/* .card .card-body {
    min-height: 190px !important; 
} */



.divider{
    border-left:1px solid rgba(0,0,0,0.08);
    border-right:1px solid rgba(0,0,0,0.08);
    /* font-size:0.75rem */
}

/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/

.cc-profile-image img {
    position: relative;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    padding: 0;
    margin: auto;
    display: block;
    border: 10px solid transparent;
    z-index: 9999;
    transition: all .3s ease-out;
    justify-items: center;    
}

.cc-profile-image a:hover img {
    transform: scale(1.06, 1.06); 
}

.cc-profile-image a:hover:before {
    -webkit-animation: none;
    animation: none; 
}

.text-justify {
    text-align: justify;
    font-size: 14px;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills{
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Varela Round', sans-serif; */
    /* font-size:14px;  */
    color:grey;
    border:none;
}		

.btn{
    text-transform: uppercase;
}
.btn:focus{
    outline: none!important;
    box-shadow: none!important;
}

.btn-primary{
    background-color: #ffffff!important;
    color: #fff!important;
    border: none;
}
.btn-primary:hover{
    background-color: #0563bb!important;
    color: #fff!important;
}

.btn-brand{
    background-color: #0563bb!important;
    color: #ced4da!important;
}
.btn-brand:hover{
    background-color: #0563bb!important;
    color: #fff!important;
}

.skill-item{
    /* border: 1px solid #ebebeb;
    border-radius: 4px; */
    position: relative;
}
.skill-img:hover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    /* display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto; */
}

hr {
    width: 90%;
    margin:auto;
    margin-left: auto;
    margin-right: auto;
}


/*--------------------------------------------------------------
# Certifications
--------------------------------------------------------------*/

.gallery-block{
    padding-bottom: 60px;
    padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
font-size: 17px;
font-weight: bold; 
}

.gallery-block.cards-gallery .card{
transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
font-size: 15px; 
}

.gallery-block.cards-gallery a {
color: #212529; 
}

.gallery-block.cards-gallery a:hover {
text-decoration: none; 
}

.gallery-block.cards-gallery .card {
margin-bottom: 30px; 
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

    .gallery-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
    }
}

/* Accordion */

.accordion-button {
    font-size: inherit;
}
.accordion-button:hover {
    background: #0563bb !important;
    color: #ffffff !important;
}

/* .accordion-item {
    border: 1px solid #0563bb !important;
} */

.accordion-button:not(.collapsed) {
    color: inherit;
    background: #0563bb !important;
    color: #ffffff !important;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(100%);
}

.accordion-button:focus {
    box-shadow: inherit !important;
}

/* Custom style - plus sign*/
/* .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.6) !important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
} */


/* Rollers */

.container .rollers{
    flex: 0 0 230px;
}

.container .start-roller{
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, white 30%, #ffffff00);
}

.container .start-roller,
.container .end-roller{
    height: 100%;
    width: 40px;
    position: absolute;
    z-index: 1;
}

.container .end-roller{
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, white 30%, rgba(255, 255, 255, 0));
}

.container .rollers .wrapper{
    position: relative;
    width: 1400px;
    height: 100px;
    margin: 0 0 20px 0;
    flex: 0 0 auto;
}

.container .rollers .wrapper .items-container{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.container .rollers .wrapper .items-container.roll-LL{
    animation-name: roll;
}
.container .rollers .wrapper .items-container.roll-RL{
    animation-name: roll-reverse;
    left: 100%;
}
.container .rollers .wrapper .items-container.reverse-roll-LL{
    animation-name: roll-clockwise;
    left: -100%;
}
.container .rollers .wrapper .items-container.reverse-roll-RL{
    animation-name: roll-reverse-clockwise;
    left: 100%;
}

@keyframes roll {
    0%{
        left: 0%;
    }
    100%{
        left: -100%;
    }
}
@keyframes roll-reverse {
    0%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
@keyframes roll-clockwise {
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}
@keyframes roll-reverse-clockwise {
    0%{
        left: 0%;
    }
    100%{
        left: 100%;
    }
}


.container .rollers .wrapper .items-container .item{
    flex: 1 1 200px;
    min-width: 0;
    margin: 20px;
}

.container .rollers .wrapper .items-container .item .company{
    filter: grayscale(100%);
    opacity: 0.2;
    width: 100%;
    object-fit: contain;
}

.container .rollers .wrapper .items-container .item .company:hover{
    filter: grayscale(0%);
    opacity: 1;
    cursor: pointer;
}

.container img{
    vertical-align: middle;
}

@media (max-width: 575.5px) {
    .content{
        padding: 20px;
    }
    .content .container{
        padding: 20px;
    }
    .h3{
        font-size: calc(1.1rem + .6vw);
    }
    .fs-5 {
        font-size: 0.9rem!important;
    }
    .container .rollers .wrapper .items-container .item .company{
        opacity: 0.4;
    }
}


/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
    padding-right: 15px;    
}

.header-social-links a {
    color: #bfbfbf;
    padding-left: 6px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    font-size: 20px; /* social links size */
}

.header-social-links a:hover {
    color: #0563bb;
}

ul.social-network {
    border:none;
    margin:0;
    padding:0;
}

ul.social-network li {
    border:none;  
    margin:0;
}

ul.social-network li i {
    margin:0;
}

ul.social-network li {
    display:inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 15px;
    display: inline-block;
    text-align: center;
    height: 15px;
    vertical-align: baseline;
    color: #000;
}

ul.social-network {
    list-style: none;
    margin: 5px 0 5px -25px; 
    float: center;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/* .resume-contact{
    border-left:1px solid rgba(0,0,0,0.08);
    font-size:0.75rem
}

.divider{
    border-left:1px solid rgba(0,0,0,0.08);
    border-right:1px solid rgba(0,0,0,0.08);
    font-size:0.75rem
} */


#footer{
    background: #000;
    padding: 30px 0;
    color: #ffffff;
    font-size: 12px;
    text-align: center;    
}

.copyright{        
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}